ul.our-family__list,
ul.locations__list,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $spacing-base / 2;
    padding-left: $spacing-base;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $spacing-base / 2;
    padding-left: $spacing-base;
  }

  li {
    position: relative;
  }
}

dl {
  margin-bottom: $spacing-base / 2;

  dt {
    font-weight: bold;
    margin-top: $spacing-base / 2;
  }

  dd {
    margin: 0;
  }
}
