.content-block {
  position: relative;
  margin: $spacing-base;

  @media screen and (min-width: 800px) {
    margin: 0;
    width: 70%;
  }

  @media screen and (min-width: 1000px) {
    width: 50%;
  }
}

.content-block__inner {
  background-color: #fff;
  padding: $spacing-base;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 800px) {
    padding: $spacing-base $spacing-large $spacing-large;
  }
}
