.site-footer {
  background-color: #f9f8fa;
  margin-top: $spacing-large;
  padding-top: $spacing-large;

  a {
    color: #7e7c87;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $teal;
    }
  }

  h4 {
    a {
      color: $dark-teal;
    }
  }
}

.bottom-level__list,
.top-level__list {
  display: flex;
  justify-content: space-between;
  padding: $spacing-base;

  @media screen and (max-width: 1100px) {
    flex-wrap: wrap;
  }

  > li {
    flex-grow: 1;

    @media screen and (max-width: 1100px) {
      margin-bottom: $spacing-large;
    }
  }
}

.social-footer {
  margin-bottom: $spacing-small;

  li {
    display: inline-block;
    margin-right: $spacing-small;

    path {
      fill: $dark-teal;
    }
  }
}

.bottom-level {
  &:before {
    display: block;
    width: 35%;
    margin: $spacing-large auto;
    content: "";
    background-color: $light-gray;
    height: 2px;
  }

  .logo svg {
    width: 160px;
    height: 160px;
  }
}
