.product__container {
  padding-top: $spacing-large;

  @media screen and (min-width: 800px) {
    display: flex;
  }
}

.product__image {
  @media screen and (min-width: 800px) {
    width: 50%;
  }

  .featured-image {
    width: 100%;
    margin-bottom: $spacing-small;
  }
}

.product__information {
  padding: $spacing-base $spacing-base 0;

  @media screen and (min-width: 800px) {
    padding-left: $spacing-large;
    padding-right: 0;
    width: 50%;
  }
}

.product__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $light-gray;
  margin: $spacing-base 0;

  label {
    font-family: $font-stack-sub-header;
    font-size: 18px;
    font-weight: normal;
    margin-right: $spacing-small;
    margin-bottom: 0;
    text-transform: none;
    letter-spacing: 0;
  }

  select {
    margin-bottom: 0;
  }

  .selector-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-small;
  }

  .quantity-wrapper {
    width: 50%;
    border-left: 1px solid $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-small;

    input {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.product__description {
  border-top: 1px solid $light-gray;
  padding-top: $spacing-base;
  margin-top: $spacing-base;
}
